<div class="container">
  <div class="row">
    <h1 style="color: #fff;">this is not done at all :(</h1>
    <% @cocktails.each do |cocktail| %>
    <div class="col-sm-3">
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card">
          <h2><%= cocktail.name %></h2>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
